<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Start simulation -->
  <include file="$(find sim_env)/launch/conveyor_belt.launch"/>
  <!-- Trigger spawner node -->
  <arg name="objects" default="shape"/>
  <node name="object_spawner" pkg="sim_env" args="$(arg objects)" type="object_spawner.py" respawn="true" output="screen"/>


  <!-- Run node all detectors -->
  <node name="object_classifier_x" pkg="commander" args="camera_x" type="object_classifier.py" output="screen"/>
  <node name="object_classifier_y" pkg="commander" args="camera_y" type="object_classifier.py" output="screen"/>
  <node name="object_classifier_z" pkg="commander" args="camera_z" type="object_classifier.py" output="screen"/>

</launch>
